fastapi
uvicorn[standard]
pymongo[srv]
motor
pydantic
python-multipart
python-dotenv
httpx
google-cloud-translate
pillow
nudenet
torch
torchvision
requests
python-jose[cryptography]
bcrypt==3.2.0
dnspython
